* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #263a29;
}

/* background color: F2E3DB
   text color: 41644A
   text highlight: 263A29
   button color: E86A33 */

img {
    height: 40px;
}

/* navigation section */
.nav-bar {
    background-color: #f2e3db;
    padding: 20px 0;
    text-align: center;
}

.nav-ul li {
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-ul li a:hover {
    color: #41644a;
    opacity: 0.7;
}

/* section just below navigaion */
.top-div {
    background: rgb(38,58,41);
    background: linear-gradient(0deg, rgba(38,58,41,1) 11%, rgba(232,106,51,1) 55%, rgba(242,227,219,1) 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.tagline-div-img img {
    margin: 0 20px;
}

.images {
    height: 260px;
}

.images:hover {
    border: solid 4px;
    /* border-color: #e86a33; */
    border-image: linear-gradient(to top, #f2e3db, #263a29) 1;
}

.buttons {
    background-color: #e86a33;
    border: none;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 5%;
    font-weight: 700;
    margin: 40px;
}

.buttons:hover {
    background-color: rgba(232, 106, 51, 0.8);
    color: #f2e3db;
}

/* featured product section */
.featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.featured-products-h2 {
    font-size: 28px;
    letter-spacing: 1px;
}

.featured-products-imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.fp-img-div {
    margin: 0 20px;
}

.fp-img-div h3 {
    margin-top: 18px;
    font-size: 20px;
}

.fp-img-div p {
    font-size: 18px;
}

#fp-imgs {
    height: 340px;
}

/* newsletter section */
.newsletter {
    border-top: solid 0.5px rgb(109, 107, 107);
    border-bottom: solid 0.5px rgb(109, 107, 107);
    display: flex;
    align-items: center;
    padding: 30px 30px;
}

.news-div-h2 {
    width: 100%;
    padding: 0 40px;
}

.news-div-h2 h2 {
    font-size: 40px;
}

#subs-btn {
    margin: 0;
}

.input-mail {
    height: 35px;
    padding: 10px 20px;
    margin-right: 30px;
    width: 300px;
}

.news-subs-btn-div {
    width: 100%;
    padding: 0 40px;
}

/* last section */
.last-section {
    display: flex;
}

.last-section-4-divs {
    display: flex;
}

.last-section {  display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-image image1 image2"
      "main-image image3 image4";

    padding: 40px;
    margin-top: 60px;
    text-align: center;
}

.main-image { grid-area: main-image; }

.image1 { grid-area: image1; }

.image2 { grid-area: image2; }

.image3 { grid-area: image3; }

.image4 { grid-area: image4; }


#main-image {
    height: 450px;
    object-fit: contain;
}

.image1 img, .image2 img, .image3 img, .image4 img {
    height: 200px;
}

.image1, .image3 {
    margin-right: 100px;
}


@media only screen and (max-width: 728px) {
    .top-div {
        align-content: center;
    }
    .tagline h1 {
        font-size: 46px;
    }
}



